:host {
    display: grid;
    grid-template-columns: 3fr 3fr;
}

.selected {
    border: 8px rgb(226, 95, 95) solid;
    border-radius: 1rem;
    border-top-left-radius: 0.1rem;
    border-bottom-left-radius: 0.1rem;

    .pokeball-container {
        border-radius: 0 !important;
    }
      

}

.preview-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

ul {
    background-color: white;
    padding: 1rem;
    border: 4px solid black;
    border-radius: 1rem;
    margin: 0;
    padding: 0;

    max-height: 100vh;

    overflow: scroll;
    // scrollbar-color: red;
    scrollbar-width: thin;
    // scroll-behavior:smooth;

    

    li:first-child {
        .pokeball-container {
          border-top-left-radius: 0.75rem;
        }
      }
  
      li:last-child {
          .pokeball-container {
              border-bottom-left-radius: 0.75rem;
          }
      }
}


li {
    display: flex;
    align-items: center;
    
}


.pokeball-container {
    margin-right: 0.5rem;
    background-color: red;

    img {
        width: 100%;
        height: 100%;
    }
}

// $scrollbar-color-track: #0000ff;

// @supports (scrollbar-width: auto) {
//     scrollbar-color: $scrollbar-color-track $scrollbar-color-track;
// }