/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
  background-color: #ffffff;
  background-image:  linear-gradient(#d2d2d2 1px, transparent 3px), linear-gradient(to right, #d2d2d2 3px, #ffffff 2px);
  background-size: 45px 45px;
  color: rgba(78, 78, 78, 0.653);
  margin: 0;
}

.pokemon-name{
  text-transform: capitalize;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: rgb(78, 78, 78);
}

